#!/usr/bin/env ruby

# HTML (Slim)
compile '/index.slim' do
  filter :slim
  filter :rubypants
  layout '/default.*'
  write '/index.html'
end

compile '/**/*.slim' do
  filter :slim
  filter :rubypants
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

# CSS (SCSS)
ignore '/**/_*.scss'

compile '/**/*.scss' do
  filter :sassc, syntax: :scss, style: :compressed, load_paths: ['content/css/', 'content/css/govuk_publishing_components']
  snapshot :css
  write item.identifier.without_ext + '.css'
end

# Everything else
compile '/**/*' do
  write item.identifier.to_s
end

# Layouts
layout '/**/*', :slim
