$mobile: 700px;

html, body {
  margin: 0;
}

body {
  font-family: 'Sans serif';
  margin: auto 2rem;

  aside > section > ul {
    li + li {
      margin-top: 0.6em;
    }
  }
}

footer {
  $grey: lighten(black, 30%);
  border-top: 1px dashed $grey;
  margin-top: 5em;
  padding: 2em 0;
  color: $grey;
}
