$black: #000;
$mobile: 768px;

html,
body {
  margin: 0;
  max-width: 60em;
}

body {
  font-family: Sans-Serif;
  margin: auto 2rem;

  aside {
    display: flex;
    flex-direction: column;

    > section {
      > ul {
        padding-left: 0;
        list-style-position: outside;

        li + li {
          margin-top: 0.6em;
        }
      }
    }

    @media (min-width: $mobile) {
      flex-direction: row;

      section {
        flex-basis: 30%;
      }

      section + section {
        margin-left: 3em;
      }
    }
  }
}

footer {
  $grey: lighten($black, 30%);

  border-top: 1px dashed $grey;
  color: $grey;
  margin-top: 5em;
  padding: 2em 0;
}
